.list{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    display: flow-root;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.listItem{
    margin-top: 1.5rem;
}

.item{
    display: flex;
    justify-content: space-between;
    background: var(--gray-500);
    height: 2.5rem;
    padding: 1rem;
    border-radius: 4px;
    gap: 1rem;
}

.item > div {
    display: inline-flex;
    gap: 1rem;
}

.checkbox{
    height: 80%;
}